=begin
#Checkout.com API Reference

## Introduction Checkout.com provides a collection of APIs that enable you to process and manage payments.    Our APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://docs.checkout.com/quickstart/integrate/sdks\" target=\"_blank\">SDKs</a>.    Our unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.  And with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly. # Authentication When you sign up for an account, you are given a secret and public API key pair. You authenticate with our API by providing the appropriate key in the request Authorization header.  Never share your secret keys. Keep them guarded and secure.   <!-- ReDoc-Inject: <security-definitions> --> 

The version of the OpenAPI document: 1.0.0
Contact: support@checkout.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.0

=end

require 'cgi'

module OpenapiClient
  class DisputesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept dispute
    # If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def accept_dispute(dispute_id, opts = {})
      accept_dispute_with_http_info(dispute_id, opts)
      nil
    end

    # Accept dispute
    # If a dispute is legitimate, you can choose to accept it. This will close it for you and remove it from your list of open disputes. There are no further financial implications.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def accept_dispute_with_http_info(dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.accept_dispute ...'
      end
      # verify the required parameter 'dispute_id' is set
      if @api_client.config.client_side_validation && dispute_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_id' when calling DisputesApi.accept_dispute"
      end
      pattern = Regexp.new(/^(dsp)_(\w{26})$/)
      if @api_client.config.client_side_validation && dispute_id !~ pattern
        fail ArgumentError, "invalid value for 'dispute_id' when calling DisputesApi.accept_dispute, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/disputes/{dispute_id}/accept'.sub('{' + 'dispute_id' + '}', CGI.escape(dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.accept_dispute",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#accept_dispute\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dispute details
    # Returns all the details of a dispute using the dispute identifier.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Dispute]
    def get_dispute_details(dispute_id, opts = {})
      data, _status_code, _headers = get_dispute_details_with_http_info(dispute_id, opts)
      data
    end

    # Get dispute details
    # Returns all the details of a dispute using the dispute identifier.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(Dispute, Integer, Hash)>] Dispute data, response status code and response headers
    def get_dispute_details_with_http_info(dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.get_dispute_details ...'
      end
      # verify the required parameter 'dispute_id' is set
      if @api_client.config.client_side_validation && dispute_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_id' when calling DisputesApi.get_dispute_details"
      end
      pattern = Regexp.new(/^(dsp)_(\w{26})$/)
      if @api_client.config.client_side_validation && dispute_id !~ pattern
        fail ArgumentError, "invalid value for 'dispute_id' when calling DisputesApi.get_dispute_details, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/disputes/{dispute_id}'.sub('{' + 'dispute_id' + '}', CGI.escape(dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Dispute'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.get_dispute_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#get_dispute_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get dispute evidence
    # Retrieves a list of the evidence submitted in response to a specific dispute.  
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Evidence]
    def get_dispute_evidence(dispute_id, opts = {})
      data, _status_code, _headers = get_dispute_evidence_with_http_info(dispute_id, opts)
      data
    end

    # Get dispute evidence
    # Retrieves a list of the evidence submitted in response to a specific dispute.  
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(Evidence, Integer, Hash)>] Evidence data, response status code and response headers
    def get_dispute_evidence_with_http_info(dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.get_dispute_evidence ...'
      end
      # verify the required parameter 'dispute_id' is set
      if @api_client.config.client_side_validation && dispute_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_id' when calling DisputesApi.get_dispute_evidence"
      end
      pattern = Regexp.new(/^(dsp)_(\w{26})$/)
      if @api_client.config.client_side_validation && dispute_id !~ pattern
        fail ArgumentError, "invalid value for 'dispute_id' when calling DisputesApi.get_dispute_evidence, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/disputes/{dispute_id}/evidence'.sub('{' + 'dispute_id' + '}', CGI.escape(dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Evidence'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.get_dispute_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#get_dispute_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get disputes
    # Returns a list of all disputes against your business. The results will be returned in reverse chronological order, showing the last modified dispute (for example, where you've recently added a piece of evidence) first. You can use the optional parameters below to skip or limit results.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The numbers of results to return (default to 50)
    # @option opts [Integer] :skip The number of results to skip (default to 0)
    # @option opts [String] :from The date and time from which to filter disputes, based on the dispute&#39;s &#x60;last_update&#x60; field
    # @option opts [String] :to The date and time until which to filter disputes, based on the dispute&#39;s &#x60;last_update&#x60; field
    # @option opts [String] :id The unique identifier of the dispute
    # @option opts [String] :statuses One or more comma-separated statuses. This works like a logical *OR* operator
    # @option opts [String] :payment_id The unique identifier of the payment
    # @option opts [String] :payment_reference An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as &#x60;TrackId&#x60;
    # @option opts [String] :payment_arn The acquirer reference number (ARN) that you can use to query the issuing bank
    # @option opts [Boolean] :this_channel_only If &#x60;true&#x60;, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business
    # @return [DisputePaged]
    def get_disputes(opts = {})
      data, _status_code, _headers = get_disputes_with_http_info(opts)
      data
    end

    # Get disputes
    # Returns a list of all disputes against your business. The results will be returned in reverse chronological order, showing the last modified dispute (for example, where you&#39;ve recently added a piece of evidence) first. You can use the optional parameters below to skip or limit results.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit The numbers of results to return
    # @option opts [Integer] :skip The number of results to skip
    # @option opts [String] :from The date and time from which to filter disputes, based on the dispute&#39;s &#x60;last_update&#x60; field
    # @option opts [String] :to The date and time until which to filter disputes, based on the dispute&#39;s &#x60;last_update&#x60; field
    # @option opts [String] :id The unique identifier of the dispute
    # @option opts [String] :statuses One or more comma-separated statuses. This works like a logical *OR* operator
    # @option opts [String] :payment_id The unique identifier of the payment
    # @option opts [String] :payment_reference An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as &#x60;TrackId&#x60;
    # @option opts [String] :payment_arn The acquirer reference number (ARN) that you can use to query the issuing bank
    # @option opts [Boolean] :this_channel_only If &#x60;true&#x60;, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that business
    # @return [Array<(DisputePaged, Integer, Hash)>] DisputePaged data, response status code and response headers
    def get_disputes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.get_disputes ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 250
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DisputesApi.get_disputes, must be smaller than or equal to 250.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling DisputesApi.get_disputes, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'skip'].nil? && opts[:'skip'] < 0
        fail ArgumentError, 'invalid value for "opts[:"skip"]" when calling DisputesApi.get_disputes, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = '/disputes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'id'] = opts[:'id'] if !opts[:'id'].nil?
      query_params[:'statuses'] = opts[:'statuses'] if !opts[:'statuses'].nil?
      query_params[:'payment_id'] = opts[:'payment_id'] if !opts[:'payment_id'].nil?
      query_params[:'payment_reference'] = opts[:'payment_reference'] if !opts[:'payment_reference'].nil?
      query_params[:'payment_arn'] = opts[:'payment_arn'] if !opts[:'payment_arn'].nil?
      query_params[:'this_channel_only'] = opts[:'this_channel_only'] if !opts[:'this_channel_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DisputePaged'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.get_disputes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#get_disputes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get file information
    # Retrieve information about a file that was previously uploaded.
    # @param file_id [String] The file identifier. It is always prefixed by &#x60;file_&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [FileResult]
    def get_file_information(file_id, opts = {})
      data, _status_code, _headers = get_file_information_with_http_info(file_id, opts)
      data
    end

    # Get file information
    # Retrieve information about a file that was previously uploaded.
    # @param file_id [String] The file identifier. It is always prefixed by &#x60;file_&#x60;.
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileResult, Integer, Hash)>] FileResult data, response status code and response headers
    def get_file_information_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.get_file_information ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling DisputesApi.get_file_information"
      end
      # resource path
      local_var_path = '/files/{file_id}'.sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.get_file_information",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#get_file_information\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provide dispute evidence
    # Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by `file_`) which you can then use in your request. Note that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.  **You must provide at least one evidence type in the body of your request.** 
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @option opts [ProvideEvidenceRequest] :provide_evidence_request 
    # @return [nil]
    def provide_dispute_evidence(dispute_id, opts = {})
      provide_dispute_evidence_with_http_info(dispute_id, opts)
      nil
    end

    # Provide dispute evidence
    # Adds supporting evidence to a dispute. Before using this endpoint, you first need to [upload your files](#tag/Disputes/paths/~1files/post) using the file uploader. You will receive a file id (prefixed by &#x60;file_&#x60;) which you can then use in your request. Note that this only attaches the evidence to the dispute, it does not send it to us. Once ready, you will need to submit it.  **You must provide at least one evidence type in the body of your request.** 
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @option opts [ProvideEvidenceRequest] :provide_evidence_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def provide_dispute_evidence_with_http_info(dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.provide_dispute_evidence ...'
      end
      # verify the required parameter 'dispute_id' is set
      if @api_client.config.client_side_validation && dispute_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_id' when calling DisputesApi.provide_dispute_evidence"
      end
      pattern = Regexp.new(/^(dsp)_(\w{26})$/)
      if @api_client.config.client_side_validation && dispute_id !~ pattern
        fail ArgumentError, "invalid value for 'dispute_id' when calling DisputesApi.provide_dispute_evidence, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/disputes/{dispute_id}/evidence'.sub('{' + 'dispute_id' + '}', CGI.escape(dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'provide_evidence_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.provide_dispute_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#provide_dispute_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Submit dispute evidence
    # With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request. You will not be able to amend your evidence once you have submitted it.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def submit_dispute_evidence(dispute_id, opts = {})
      submit_dispute_evidence_with_http_info(dispute_id, opts)
      nil
    end

    # Submit dispute evidence
    # With this final request, you can submit the evidence that you have previously provided. Make sure you have provided all the relevant information before using this request. You will not be able to amend your evidence once you have submitted it.
    # @param dispute_id [String] The dispute identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def submit_dispute_evidence_with_http_info(dispute_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.submit_dispute_evidence ...'
      end
      # verify the required parameter 'dispute_id' is set
      if @api_client.config.client_side_validation && dispute_id.nil?
        fail ArgumentError, "Missing the required parameter 'dispute_id' when calling DisputesApi.submit_dispute_evidence"
      end
      pattern = Regexp.new(/^(dsp)_(\w{26})$/)
      if @api_client.config.client_side_validation && dispute_id !~ pattern
        fail ArgumentError, "invalid value for 'dispute_id' when calling DisputesApi.submit_dispute_evidence, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/disputes/{dispute_id}/evidence'.sub('{' + 'dispute_id' + '}', CGI.escape(dispute_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.submit_dispute_evidence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#submit_dispute_evidence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload file
    # Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.
    # @param file [String] The path of the file to upload, and its type. &lt;br&gt;&lt;i&gt;This must be a local path.&lt;/i&gt;
    # @param purpose [String] The purpose of the file upload. You must set this to &#x60;dispute_evidence&#x60;
    # @param [Hash] opts the optional parameters
    # @return [FileUploadResponse]
    def upload_file(file, purpose, opts = {})
      data, _status_code, _headers = upload_file_with_http_info(file, purpose, opts)
      data
    end

    # Upload file
    # Upload a file to use as evidence in a dispute. Your file must be in either JPEG/JPG, PNG or PDF format, and be no larger than 4MB.
    # @param file [String] The path of the file to upload, and its type. &lt;br&gt;&lt;i&gt;This must be a local path.&lt;/i&gt;
    # @param purpose [String] The purpose of the file upload. You must set this to &#x60;dispute_evidence&#x60;
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileUploadResponse, Integer, Hash)>] FileUploadResponse data, response status code and response headers
    def upload_file_with_http_info(file, purpose, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisputesApi.upload_file ...'
      end
      # verify the required parameter 'file' is set
      if @api_client.config.client_side_validation && file.nil?
        fail ArgumentError, "Missing the required parameter 'file' when calling DisputesApi.upload_file"
      end
      # verify the required parameter 'purpose' is set
      if @api_client.config.client_side_validation && purpose.nil?
        fail ArgumentError, "Missing the required parameter 'purpose' when calling DisputesApi.upload_file"
      end
      # resource path
      local_var_path = '/files'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['multipart/form-data'])

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = file
      form_params['purpose'] = purpose

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"DisputesApi.upload_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisputesApi#upload_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
