=begin
#Checkout.com API Reference

## Introduction Checkout.com provides a collection of APIs that enable you to process and manage payments.    Our APIs accept and return JSON in the HTTP body and return HTTP response codes to indicate errors. You can consume the APIs directly using your favorite HTTP/REST library or make use of one of our <a href=\"https://docs.checkout.com/quickstart/integrate/sdks\" target=\"_blank\">SDKs</a>.    Our unified payments API allows you to accept payments from cards, digital wallets and the most popular alternative payment methods, as well as pay out to a variety of destinations, all using the same integration.  And with our webhook management, events and disputes APIs, you can keep on top of your transactions and react to any chargebacks, keeping your business running smoothly. # Authentication When you sign up for an account, you are given a secret and public API key pair. You authenticate with our API by providing the appropriate key in the request Authorization header.  Never share your secret keys. Keep them guarded and secure.   <!-- ReDoc-Inject: <security-definitions> --> 

The version of the OpenAPI document: 1.0.0
Contact: support@checkout.com
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.0

=end

require 'cgi'

module OpenapiClient
  class InstrumentsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create an instrument
    # Exchange a single use Checkout.com token for a payment instrument reference, that can be used at any time to request one or more payments. 
    # @param instrument_request [InstrumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InstrumentResponse]
    def create_an_instrument(instrument_request, opts = {})
      data, _status_code, _headers = create_an_instrument_with_http_info(instrument_request, opts)
      data
    end

    # Create an instrument
    # Exchange a single use Checkout.com token for a payment instrument reference, that can be used at any time to request one or more payments. 
    # @param instrument_request [InstrumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InstrumentResponse, Integer, Hash)>] InstrumentResponse data, response status code and response headers
    def create_an_instrument_with_http_info(instrument_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstrumentsApi.create_an_instrument ...'
      end
      # verify the required parameter 'instrument_request' is set
      if @api_client.config.client_side_validation && instrument_request.nil?
        fail ArgumentError, "Missing the required parameter 'instrument_request' when calling InstrumentsApi.create_an_instrument"
      end
      # resource path
      local_var_path = '/instruments'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(instrument_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InstrumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"InstrumentsApi.create_an_instrument",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstrumentsApi#create_an_instrument\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get instrument details
    # Returns details of an instrument
    # @param id [String] The instrument id
    # @param [Hash] opts the optional parameters
    # @return [RetrieveInstrumentResponse]
    def get_instrument_details(id, opts = {})
      data, _status_code, _headers = get_instrument_details_with_http_info(id, opts)
      data
    end

    # Get instrument details
    # Returns details of an instrument
    # @param id [String] The instrument id
    # @param [Hash] opts the optional parameters
    # @return [Array<(RetrieveInstrumentResponse, Integer, Hash)>] RetrieveInstrumentResponse data, response status code and response headers
    def get_instrument_details_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstrumentsApi.get_instrument_details ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstrumentsApi.get_instrument_details"
      end
      pattern = Regexp.new(/^(src)_(\w{26})$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling InstrumentsApi.get_instrument_details, must conform to the pattern #{pattern}."
      end

      # resource path
      local_var_path = '/instruments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetrieveInstrumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"InstrumentsApi.get_instrument_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstrumentsApi#get_instrument_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update instrument details
    # Update details of an instrument
    # @param id [String] The instrument ID
    # @param update_instrument_request [UpdateInstrumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateInstrumentResponse]
    def update_instrument_details(id, update_instrument_request, opts = {})
      data, _status_code, _headers = update_instrument_details_with_http_info(id, update_instrument_request, opts)
      data
    end

    # Update instrument details
    # Update details of an instrument
    # @param id [String] The instrument ID
    # @param update_instrument_request [UpdateInstrumentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateInstrumentResponse, Integer, Hash)>] UpdateInstrumentResponse data, response status code and response headers
    def update_instrument_details_with_http_info(id, update_instrument_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InstrumentsApi.update_instrument_details ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InstrumentsApi.update_instrument_details"
      end
      pattern = Regexp.new(/^(src)_(\w{26})$/)
      if @api_client.config.client_side_validation && id !~ pattern
        fail ArgumentError, "invalid value for 'id' when calling InstrumentsApi.update_instrument_details, must conform to the pattern #{pattern}."
      end

      # verify the required parameter 'update_instrument_request' is set
      if @api_client.config.client_side_validation && update_instrument_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_instrument_request' when calling InstrumentsApi.update_instrument_details"
      end
      # resource path
      local_var_path = '/instruments/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_instrument_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateInstrumentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiSecretKey']

      new_options = opts.merge(
        :operation => :"InstrumentsApi.update_instrument_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InstrumentsApi#update_instrument_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
